header {
	height:100px;
	background-color:#bbffff;
	padding:2%;
	margin:2%;
	border-style:solid;
	border-width:3px;
		border-color:#ffbbbb;
}
nav {
	height:800px;
	background-color:#ffbbbb;
	padding:2%;
	margin:2%;
	border-style:dashed;
	border-width:6px;
	border-color:#bbffff;
	letter-spacing:5px;
}
h1 {
	text-align:center;
	color:red;
}
#imhdr {
	float:left;
}
#owo {
	font-family:sans-serif, Arial, Helvetica;
	color:red;
}
.uwu {
	font-family:"Comic Sans MS", Helvetica, Arial;
	color:green;
	text-align:center;
}
ul {
	background: url("bg.jpg") no-repeat center fixed;
	background-size: cover;
	list-style-image:url("uwu.png");
}
li {
	vertical-align: middle;
}
a {
	width:100px;
	height:100px;
	display:inline-block;
	padding:2%;
	margin:2%;
	border-style:solid;
	border-width:10px;
	border-color:white;
	text-decoration: overline;
	text-decoration-color:white;
}
a:hover{
	color:white;
}
a:visited{
	color:black;
}
a:hover{
	color:red;
}
ol li {
  background: #ffe5e5;
  list-style-type: lower-alpha;
  padding: 5px;
  margin-left: 35px;
}


