* {
	margin:0px;
	padding:0px;
	font-family:Arial, Helvetica, sans-serif;
}			
table, th, td {
	border: 2px solid black;
	border-collapse: collapse;
}
th, td {
	padding: 5px;
}
h1 {
	color:#FF4343;
	text-align:center;
	font-size: 3em;
	margin-top: 50px;
}
p {
	color:white;
	background: rgba(25,25,25,0.5);
	font-size:18px;
	margin-left:4%;
	margin-right:4%;
	text-align: justify;
	padding-top:1%;
	padding-bottom:1%;
	padding-left:2%;
	padding-right:2%;
}
.uwu{
	color:#FF4343;
	font-style:italic;
}
#awa{
	color:#FF4343;
	font-weight:bold;
}
html {
	background: url("ricardito.gif") no-repeat center fixed;
	background-size: cover;
}