﻿* {
	margin:0px;
	padding:0px;
}			
.header {
	margin:auto;
	width:500px;
	font-family:Arial, Helvetica, sans-serif;
	position: fixed;
    top: 0;
	left:38%;
	
}			
ul, ol {
	list-style:none;
}			
.nav {
	width:500px; 
	margin:0 auto; 
} 
.nav > li {
	float:left;
}			
.nav li a {
	background-color:#000;
	color:#fff;
	text-decoration:none;
	padding:10px 12px;
	display:block;
}			
.nav li a:hover {
	background-color:#434343;
}			
.nav li ul {
	display:none;
	position:absolute;
	min-width:200px;
}	
.nav li:hover > ul {
	display:block;
}		
.nav li ul li {
	position:relative;
}
			
.nav li ul li ul {
	right:-200px;
	top:0px;
}
#inicio {
	background: url("media/fondo.jpg") no-repeat center fixed;
	background-size: cover;
}
#lol {
	background: url("media/galio.jpg") no-repeat center fixed;
	background-size: cover;
}
#csgo {
	background: url("media/csgo.jpg") no-repeat center fixed;
	background-size: cover;
}
#pubg {
	background: url("media/pubg.jpg") no-repeat center fixed;
	background-size: cover;
}
#lcseu {
	background: url("media/lec.jpg") no-repeat center fixed;
	background-size: cover;
}
h1 {
	color:White;
	font-family:Arial, Helvetica, sans-serif;
	text-align:center;
	font-size: 3em;
	margin-top: 50px;
}
.articulo {
	color:white;
	background: rgba(25,25,25,0.9);
	font-family:Arial, Helvetica, sans-serif;
	font-size:18px;
	margin-right: 12%;
	margin-left: 12%;
	text-align: justify;
	padding-top:2%;
	padding-bottom:2%;
}
.tituloarticulo {
	font-size: 28px;
	color: cyan;
	margin-left:4%;
	margin-right:4%;
}
#c9izquierda {
	float:left;
	left: 0px;
	top: 200px;
	margin-bottom: 200px;
	position:fixed;
}
#fncderecha {
	float: right;
	right: 0px;
	top: 200px;
	margin-bottom: 200px;
	position:fixed;
}
.ayuda {
	color:white;
	text-decoration:none;
}
.fotoarticuloderecha {
	float: right;
	margin-right:4%;
}
.fotoarticuloizquierda {
	float: left;
	margin-left:4%;
}
.gameplay {
	margin-left: auto;
	margin-right: auto;
	display: block;
}
h4 {
	font-size: 18px;
	color: cyan;
	margin-left:4%;
	margin-right:4%;
}
p {
	margin-left:4%;
	margin-right:4%;
	margin-bottom:2%;
	margin-top:2%;
}
.lista {
	margin-left:4%;
	margin-right:4%;
}
footer {
	background-color:black;
	color:white;
	font-size:18px;
	margin-right: 12%;
	margin-left: 12%;
	font-family:Arial, Helvetica, sans-serif;
}
table, th, td {
	border: 2px solid black;
	border-collapse: collapse;
	text-align: center;
}
th, td {
	margin: auto;
	padding: 10px;
}
.rcentro {
	text-align: left;

}
.tabla {
	display: inline-block;
	margin:3%;
}
.semifinales {
	background-color:#ff5bd7;
}
.playoffs {
	background-color:#5bff7f;
}
.stay {
	background-color:#f99600;
}