div {
	display:inline-block;
	height:250px;
	width:250px;
	background-color: #8cff49;
	padding:2%;
	border-style:dashed;
	border-width:5px;
}
#borderr{
	border-radius:60px;
	border-top-right-radius:20px;
	border-bottom-left-radius:120px;
}
#linearg{
	background-image: linear-gradient(#8cff49, white);
}
#radialg{
	background-image: radial-gradient(#8cff49, white);
}
#rradial{
	background-image: repeating-radial-gradient(#8cff49, white 40%);
}
#transitionp {
	transition-property: color, width, background-color, border-radius, text-align, padding;
	transition-duration: 1s;
	transition-timing-function: ease;
}
#transitionp:hover{
	color:#004af7;
	width:200px;
	background-color:#d3ffba;
	border-radius:20px;
	text-align:center;
	padding:1%;
}
#translate{
	transform: translate(50px, 0px);
}
#rotate {
	transform: rotate(-90deg);
}
#scale {
	transform: scale(0.5, 0.5);
}
#skew{
	transform: skewX(45deg);
}