* {
	font-family:Arial, Helvetica, sans-serif;
}	
html{
	background-color: black;
	background-size: cover;
}
h1 {
	font-size:26px;
	color:cyan;
}
a, p{
	color: white;
}

a {
	height:300px;
	width:300px;
}
.ewe{
	display:block;
}
.uwu {
	display:inline;
}
.iwi{
	display:inline-block;
}
.owo {
	width:200px;
	float:left;
	text-align:justify;
	display:inline-block;
}
.awa{
	width:100px;
	display:inline;
	text-align:center;
	text-align:center;
}
.cwc{
	width:50px;
	display:block;
	float:right;
	text-align:right;
	margin-right:3%;
	text-align:left;
}