	table{
		border-collapse:collapse; 
	}
	td{ 
		padding:7px; border:#4e95f4 1px solid;
	}
	tr{
		background: #b8d1f3;
	}
	tr:nth-child(odd){ 
		background: #b8d1f3;
	}
	tr:nth-child(even){
		background: #dae5f4;
	}

